.search__wrapper {

    display: grid;
    row-gap: 32px;
    margin: 0 auto;
    max-width: 608px;
}


@media screen and (max-width: 768px) {
    .search__wrapper {
        row-gap: 10px
    }
}

@media screen and (max-width: 320px) {
    .search__wrapper {
        row-gap: 48px
    }
}