@import './_color/_gray/request__list_color_gray.css';



.request__list {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}