.header__text-link_active_black {
    padding-bottom: 23px;
    border-bottom: 3px solid rgb(0, 0, 0);
}


@media screen and (max-width: 768px) {
    .header__text-link_active_black {
        padding-bottom: 16px;


    }

}

@media screen and (max-width: 320px) {
    .header__text-link_active_black {
        padding-bottom: 15px;


    }

}