.wrapper_type-row-a {
    row-gap: 50px;


}

@media screen and (max-width: 768px) {
    .wrapper_type-row-a {
        row-gap: 22px;

    }
}


@media screen and (max-width: 320px) {
    .wrapper_type-row-a {
        row-gap: 26px;

    }
}